.wrapper {
  border: 3px solid black;
  height: 800px;
  background: #CCCCCC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one,
.two,
.three {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  font-weight: 800;
}

.one {
  background: yellow;
  animation: change 1.2s ease-in-out infinite alternate
}

.two {
  background: white;
  border: 3px solid black;
}

.three {
  background: blue;
}

@keyframes change {
  from {background: yellow;}
  to {background: blue;}
}


.one h1 {
  color: black;
  animation: text-change 1.2s ease-in-out infinite alternate;
}

@keyframes text-change {
  from {color: black;}
  to {color: white;}
}

.two h1 {
  animation: spin 2s infinite;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.three h1 {
  color: black;
  animation: mover 2.4s ease infinite, text-change2 1.2s infinite alternate;
}

@keyframes mover {
  0% { transform: translateY(0);  }
  25% { transform: translateY(300px);}
  75% { transform: translateY(-300px); }
  100% { transform: translateY(0); }
}

@keyframes text-change2 {
  from {color: black;}
  to {color: white;}
}